@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$general: 'Montserrat', sans-serif;
$permanent: 'Permanent Marker', cursive, sans-serif;
$lora: 'Lora', serif;